*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 530px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.main-header h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(40, 24, 183);
    -webkit-text-stroke: 2px rgba(10, 78, 249, 0.857);
}

.main-header button {
    background-color: rgb(45, 31, 100);
    color: azure;
    padding: 15px 30px;
    border: none;
    font-size: 20px;
    border-radius: 11px;
    cursor: pointer;
    transition: background-color 1s;
}

.main-header button:hover{
    background-color: rgb(4, 18, 89);
}

.secciones{
    padding: 7vh 20px;
    text-align: center;
    background-color: rgb(11, 3, 51);
}

.secciones h2 {
    font-size: 32px;
    margin-bottom: 60px;
    color: rgb(67, 62, 165);
    -webkit-text-stroke: 2px rgb(46, 112, 194);
}

.secciones-texto{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.secciones-texto div{
    background-color: rgba(52, 61, 226, 0.792);
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.texto h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto p{
    font-size: 30px;
    text-align: center;
    color: rgb(46, 117, 209);
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1px rgba(255, 253, 253, 0.751);

}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: auto;
}
